# config for openocd for GD32F350 MCUs
# interface: CMSIS-DAP (e.g. Raspberry Pi Debug Probe).
#   For an ST-Link probe, use "interface/stlink.cfg" instead.
source [find interface/cmsis-dap.cfg]
source [find target/gd32f3x0.cfg]

# use -gdb-max-connections to allow for live watch in vscode
$_TARGETNAME configure -work-area-phys 0x20000000 -work-area-size $_WORKAREASIZE -work-area-backup 0 -gdb-max-connections 4
init
